p{
    color: white;
}
.navbar{
    background-color: #ee4a23;
    height: 50px;
}
.logo{
    max-width: 18%;
    
}
.logoHorus{
    margin-left: -10%;
}
.navbar .search-controller
{
    color: rgb(124, 122, 122);
}

.navbar .search-controller .search-btn
{
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(124, 122, 122);
    top: 50%;
    transform: translateY(-50%);
   
}
.navbar .search-controller input[type=text]
{
    background-color: white;
    border: 0;
    outline: none;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    padding: 0 40px;
}
.searchIcon{
    background-color: white;
    height: 30px;
    width: 50px;
    display: grid;
    place-items: center;
}
.nombre{
    color: white;
}
.icono{
    max-width: 40px;
}

.dropdown{
    margin-left: 5%;
}


