.toolBarGridView{
    position: relative;
    background: #e0e1e1;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
   padding: 0;
    transition: width .2s ease-in; 
    margin-top: -22px;
}



 .search-controller .search-btn
{
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #9c9c9f;
    top: 50%;
    transform: translateY(-50%);
   
} 
.search-controller a
{
    background-color: transparent;
    border: 0;
    outline: none;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    padding: 5px 40px;
    top: 50%;
    transform: translateY(-50%);
} 
.divider{
    margin-left:120px ;
    width: 2px;
    height: 30px;
    border-radius: 1px;
    background: #9c9c9f;
    margin-top: -20px;
    transform: translateY(-35px);
}



